body {
    font-family: 'Source Sans 3', sans-serif;
    /* background-image: url('./Images/background.jpg'); */
    /*Darken Image*/
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./Images/background.jpg);
    background-repeat:no-repeat;
    background-size: 100% 690px;
    margin:0;
    background-color: #f0f0f0;
}

/*Header Section STARTS Here*/
#HeaderSection {
    color:white;
}
#HeaderSection div h1 span {
    font-weight:100;
}
#HeaderSection div h1 {
    margin:17px 0px 0px 32px;
    font-size:17.5px;
    font-weight:400;
}
#HeaderSection div {
    display:inline-block;
    margin: 4px 0px;
}
#OptionDiv ul li {
    display:inline-block;
    margin-right: 32px;
    font-weight: 300;
    font-size:17.5px;
}
#OptionDiv ul {
    margin:10px 0px 0px 0px;
    padding:0;
}
#OptionDiv {
    float: right;
}
#OptionDiv ul li i{
    font-weight: 900;
    margin-right: 7px;
    font-size: larger;
    color:lightgray;

}
#OptionDiv ul #SigupBtn {
    border: 2px solid lightgray;
    padding: 2px 16px;
    border-radius: 6px;
    font-weight: 400;
}
/*Header Section ENDS Here*/

/*Body Section STARTS Here*/
#BodySection {
    color: white;
    margin-top: 105px;
    text-align: center;
}
#BodySection h1{
    font-size: 61px;
    font-weight: 300;
    margin: 0;
    letter-spacing: -3px;
}
#BodySection p {
    font-size: 22px;
    font-weight: 300;
    margin: 15px 0px 25px 0px;
}
#BodySection div {
    margin:35px 0px;
}
#BodySection div button:nth-child(1) {
    padding: 15px 78px;
    background-color: white;
    border: 0px;
    border-radius: 6px;
    font-size: 17px;
    color:#77726e;
    margin-right:15px;
    font-family: 'Source Sans 3', sans-serif;
}
#BodySection div button:nth-child(2) {
    background-color: transparent;
    border: 2px solid #b8babb;
    border-radius: 6px;
    color: white;
    padding: 14px 72px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Source Sans 3', sans-serif;
}
/*Body Section ENDS Here*/

/*Description Section STARTS Here*/
#DescripSection {
    width: 77%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    margin-top:136px;
    border-radius:6px;
}
#DescripSection img {
    width:100%;
    border-radius:0px 0px 6px 6px;
    position: relative;
    bottom: -6px;
}
#DescripSection h1{
    font-size: 40px;
    color: #646464;
    font-weight: 300;
    padding: 79px 0px 23px 0px;
    margin: 0;
    letter-spacing:-2px;
}
#DescripSection p{
    font-size: 21px;
    color: #777777;
    font-weight: 100;
    padding: 46px 0px;
    border-top: 2px solid #e7e7e7;
    display: inline-block;
}
/*Description Section ENDS Here*/

/*Icon Section STARTS Here*/
#IconSection {
    width: 77%;
    margin: 0 auto;
    background-color: white;
    margin-top: 60px;
    border-radius: 6px;
}
#IconSection div {
    text-align: center;
    /* width: 49%; */
    width:39%;
    display: inline-block;
}
#IconSection div h1 {
    font-size: 29px;
    /* color: #9b9d9b; */
    font-weight: 100;
}
#IconSection div p {
    font-size: 17.5px;
    /* color: #777777; */
    font-weight: 100;
}
#IconSection i {
    color: white;
    border-radius: 50%;
    width: 51px;
    height: 51px;
}
#IconDiv1 i {
    background-color: #e89980;
    font-size: 55px;
    font-weight: 900;
    padding: 22px;
}
#IconDiv2 i {
    background-color: #7fcdb8;
    font-size: 40px;
    font-weight: 400;
    padding: 27px 22px 17px 22px;
}
#IconDiv3 i {
    background-color: #90b0ba;
    font-size: 50px;
    padding: 27px 24px 18px 23px;
}
#IconDiv4 i {
    background-color: #e5cb95;
    font-size: 58px;
    font-weight: 900;
    padding: 23px 24px 25px 24px;
}
#IconDiv4 {
    margin: -3px 52px 52px -3px;
    padding: 52px 0px 0px 52px;
    border: 2px solid #e5e5e5;
    border-bottom: none;
    border-right: none;
}
#IconDiv3 {
    /* border-top:1px solid black; */
    margin: 0px 0px 52px 52px;
    padding: 55px 52px 0px 0px;
}
#IconDiv1 {
    margin: 52px 0px 0px 52px;
    padding: 0px 52px 52px 0px;
    border: 2px solid #e5e5e5;
    border-left: none;
    border-top: none;
}
/*Icon Section ENDS Here*/

/*Image Section STARTS Here*/
#ImgSection div{
    background-color: white;
    width: 48%;
    text-align: center;
    margin: 30px 0px 0px 35px;
    float: left;
    border-radius:6px;
}
#ImgSection #ImgDiv1 {
    margin-left: 0px;
} 
#ImgSection img{
    width:100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#ImgSection h1{
    font-size: 30px;
    font-weight: 100;
    padding: 10px 0px 0px 0px;
}
#ImgSection p {
    color:#a7a9a7;
    padding: 0;
    font-size: 17px;
    font-weight: 100;
}
#ImgSection {
    margin: 0% auto;
    width: 77%;
    border-radius: 6px;
}
#ImgSection button {
    border: 2px solid #e5e5e5;
    background-color: white;
    color: #a7a9a7;
    border-radius: 6px;
    padding: 13px 22px;
    margin: 15px 0px 36px 0px;
    font-size: 17px;
    font-weight: 100;
}
/*Image Section ENDS Here*/

/*Footer Section STARTS Here*/
#FooterSection div{
    clear:left;
    background-color: #e89980;
    text-align:center;
    display: inline-block;
    margin-top: 46px;
    width: 100%;
    color:#f9e6df;
    padding: 58px 0
}
#FooterSection h1{
    font-size: 37px;
    padding: 0px;
    font-weight: 300;
    letter-spacing: -1px;
    margin:0;
}
#FooterSection p{
    font-size: 17.5px;
    font-weight: 300;
    margin: 0;
    padding: 25px;
}
#FooterSection input {
    background-color: #eba893;
    padding: 18px 115px 18px 17px;
    border-radius: 6px;
    border: none;
    margin: 10px 13px 0px 0px;
}
#FooterSection input::placeholder {
    color: #f8dfd7;
    font-size:17px;
    font-weight:300;
    font-family:'Source Sans 3', sans-serif;
    letter-spacing:-1px;
}
#FooterSection button {
    background-color: white;
    padding: 10px;
    color: #e89980;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    padding: 13px 35px;
    font-family:'Source Sans 3', sans-serif;
}
#FooterSection #LowerFooter {
    background-color: #f0f0f0;
    color:#cbcbcb;
    margin: 69px 0px ;
    padding: 0;
}
#FooterSection #LowerFooter .IconLink {
    color:inherit;
    transition: color 0.3s ease-in-out;
}
#FooterSection #LowerFooter i {
    padding-right: 19px;
    font-size: 33px;
    font-weight: 400;
}
#FooterSection #LowerFooter .IconLink:hover {
    color:#929292;
}
#FooterSection #LowerFooter p {
    color: #777;
    font-size: 15.5px;
    font-weight: 300;
}
#FooterSection #LowerFooter span {
    padding: 0px 8px;
    font-weight: 400;
    color: #cbcbcb;
}
#FooterSection #LowerFooter p a {
    text-decoration:none;
    border-bottom:1px dotted #777;
    color:inherit;
    transition: border-bottom 0.2s ease-in-out ;
}
#FooterSection #LowerFooter p a:hover {
    border-bottom:none;
    
} 
/*Footer Section END Here*/















